page-perfil {

  ion-list, ion-card{
    max-width: 300px;
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  ion-label{
    h2,h3 {
      white-space: normal;
      text-align: justify;
    }
  }

  ion-item{

    ion-avatar{
      img{
        width: 64px;
        height: 64px;
      }
    }

    h2, .h2{
      white-space: normal;
    }

    p{
      margin-top: 0px;
      color: #000000;
      white-space: normal;
    }

    &.item-md,
    &.item-ios,
    &.item-wp{
      ion-thumbnail{

        min-width: 64px;
        min-height: 64px;

        img{
          width: 64px;
          height: 64px;
        }
      }
    }

    &.perfil-card-info {
      padding-left: 0;
      font-size: 1.4rem;

      &.item-block .item-inner {
        padding-right: 0;
      }

      .label-md,
      .label-wp,
      .label-ios{
        margin: 5px 0px 5px 0;
      }

      ul {
        list-style-type: none;
        padding-left: 0;
        margin-top: 0px;
        margin-bottom: 0px;

        li {
          padding-left: 10px;
        }
      }
    }
  }
}
