<head>
  <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
</head>

<ion-header>
  <header-bar [navCtrl]="navCtrl" [pageTitle]="viewMode === 'list' ? 'Points of Interest' : 'City Map'"></header-bar>
</ion-header>

<ion-content padding>

  <ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" [placeholder]="('Search by name or service' | translate) + '...'" ></ion-searchbar>

  <div class="filter-buttons">
    <button ion-button small color="dark" id="boton-rubro" (click)="abrirMenuFiltroRubro()">
      {{textoFiltroRubros | translate}}
    </button>
  </div>

  <div id="list" *ngIf="viewMode==='list'">
    <ion-list *ngFor="let tipoMarcador of obtenerTiposMarcadores()">
      <ion-item class="item-divider item" *ngIf="obtenerMarcadores(tipoMarcador).length > 0">{{tipoMarcador.nombre | translate}}</ion-item>
      <ion-item-sliding value="map" *ngFor="let marcador of obtenerMarcadores(tipoMarcador)">
        <button ion-item (click)=abrirMarcador(marcador)>
          <ion-thumbnail item-left *ngIf="marcador.imagenUrl && marcador.imagenUrl != ''">
            <img src="{{marcador.imagenUrl}}"/>
          </ion-thumbnail>
          <h2>{{marcador.titulo | translate}}</h2>
          <p>{{marcador.descripcion | translate}}</p>
          <p>{{marcador.direccion}}</p>
          <p>{{marcador.telefono}}</p>
          <p>{{marcador.distancia | number:'1.2-2'}} mts</p>
        </button>
      </ion-item-sliding>
      <div class="spacer" style="height: 10px;" *ngIf="obtenerMarcadores(tipoMarcador).length > 0"></div>
    </ion-list>
  </div>

  <div [ngStyle]="viewMode==='map' ? ({'display':'flex', 'width':'100%', 'height':'100%'}) : ({'display':'none'})" #map id="map">
    <ion-grid>
        <h1 class="loaderMsg">{{('Loading Map' | translate) + '...'}}</h1>
      <div style="margin: 0 auto; display: flex;">
        <div class="loader"></div>
      </div>
    </ion-grid>
  </div>
</ion-content>

<ion-footer padding id="footerVista">
  <ion-segment [(ngModel)]="viewMode">
    <ion-segment-button value="list" (ionSelect)="mostrarLista()">
      <ion-icon name="list"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="map" (ionSelect)="mostrarMapa(null)">
      <ion-icon name="map"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
